@import url('./fonts.css');



*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Geist', Georgia, 'Times New Roman', Times, serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}