@import url('./fonts.css');
@import url('./global.css');

.header{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header a img{
    margin-left: 120px;
}
.sections-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    width: 469px;
}

.sections-links a{
    font-size: 20px;
    text-decoration: none;
    color: #0B0D1E;
    font-weight: 500;
    width: 80px;
    height: 21px;
}

.join-btn{
    width: 100px;
    height: 48px;
    background-color: #0B0D1E;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 76px;
    margin-right: 120px;
    box-shadow: 1px 1px 1px #888888;
}

.join-btn:hover{
    background-color:#023ECE ;
    cursor: pointer;
}

/*    Home Section    */

.home-container{
    margin: 0 auto;
    margin-top: 79px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    height: 583.29px;
}

.home-content{
    background-image: url('../assets/Home-Section/Blur_bg.svg');
    background-size: 100%;       
    background-repeat: no-repeat;
    background-position:60%;
    display:flex;
    flex-direction: column;
    width: 711.33px;
    height: 583.29px;
    margin-left: 76px;
    padding-left: 45px;
}

.home-content .sm-title{
    background-color:#EDF4FF;
    width: 336px;
    height: 42px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.02em;
    border-radius: 8px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
    padding-right: 24px;
    color: #000;
}

.title{
    margin-top: 37px;
    width: 32.5rem;
    height: 15rem;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 5rem;
    color: #0B0D1E;
}

.title-desc{
    margin-top: 3.125rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.02%;
    color: #0B0D1E;
}

.home-btns{
    margin-top:2.875rem;
    width: 22.313rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.home-btns .get-started-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.625rem;
    height: 3.5rem;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.02%;
    background-color:#023ECE ;
    color: #fff;
}

.home-btns .get-started-btn:hover{
    cursor: pointer;

}

.home-btns .contact-us-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.625rem;
    height: 3.5rem;
    border-radius: 12px;
    border: 1px solid #575757 ;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.02%;
    color: #3D3D3D;
}

.home-btns .contact-us-btn:hover{
    background-color:#EDF4FF ;
    cursor: pointer;
}

.home-btns .contact-us-btn img{
    width: 0.892rem;
    height: 0.625rem;
    margin-left: 0.938rem;
}


.home-img img{
    width: 32.389rem;
    height: 24.647rem;
    margin-top: 42px;
    margin-left: 45px;
}

/*  Statistics Section  */

.statistics-container{
    margin: 0 auto;
    width: 100%;
    margin-top: 0.676rem;
    max-width: 100%;
    height: 13.375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid  rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid  rgba(0, 0, 0, 0.1);
}

.statistic, .last-statistic{
    width: 30rem;
    height: 13.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.statistic::after {
    content: "";
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translateY(-50%); 
    width: 2px;    
    height: 8.375rem;   
    background-color:rgba(0, 0, 0, 0.1); 
}

.statistic h4, .last-statistic h4 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #0B0D1E;
}

.statistic h2, .last-statistic h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0D1E;
}

/*   Main Features Section   */

.main-features-container{
    margin: 0 auto;
    width: 100%;
    margin-top: 3.063rem;
    max-width: 1440px;
    height:43.688rem ;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin-bottom: 10.313rem;

}

.main-features-title{
    width: 11rem;
    height: 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:#EDF4FF;
    color: #023ECE;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: -0.02%;
    margin-bottom: 0.856rem;
}

.main-features-container .second-title{
    width: 54.063rem;
    height: 4.063rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0B0D1E;
    font-size: 3.125rem;
    font-weight: 600;
    margin-bottom: 6.156rem;
}

.main-features{
    display: flex;
    flex-direction: row;
    margin-bottom: 3.044rem;
}

.feature{
    width: 23.125rem;
    height: 23.438rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.875rem;
}

#AT, #SPM,#EC{
    background-color: #FFF5F5;
    position: relative;
}

#AT{
    margin-right: 2.813rem;
}

#SPM{
    background-color: #F9F7FF;
    margin-right: 2.813rem;
}

#EC{
    background-color: #EFF6FF;
}

#AT img, #SPM img, #EC img{
    width: 7.438rem;
    height: 7.496rem;
    margin-left: 7.875rem;
    position: absolute;
    top: -2.25rem; 
}

#AT h1, #EC h1{
    margin: 0px;
    margin-top:6.563rem;
    margin-left:2.625rem ;
    width: 15.813rem;
    height: 4.875rem;
    text-align: start;
    font-weight: 700;
    font-size: 1.875rem;
    color: #0B0D1E;
}
#SPM h1{
    margin: 0px;
    margin-top:6.563rem;
    margin-left:2.625rem ;
    width: 16.844rem;
    height: 4.875rem;
    text-align: start;
    font-weight: 700;
    font-size: 1.875rem;
    color: #0B0D1E;
}

#AT h4, #SPM h4, #EC h4{
    margin: 0px;
    margin-top: 0.875rem;
    margin-left: 2.625rem;
    width: 17.375rem;
    height: 4.875rem;
    text-align: start;
    color: #343434;
    font-weight: 400;
    font-size: 1.25rem;
}

#AT a, #SPM a, #EC a{
    margin-top: 1.313rem;
    margin-left: 2.625rem;
    margin-bottom: 1.563rem;
    width: 10rem;
    height: 3.125rem;
    border: 0.061rem solid #9A9B9C ;
    border-radius: 2.325rem;
    color: #0B0D1E;
    padding: 0.93rem 1.86rem;
}

#AT a, #SPM a, #EC a:hover{
    cursor: pointer;
}


.main-features-container .more-features a {
    width: 14.875rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.061rem solid #D2CDCD ;
    border-radius: 0.75rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.02%;
    color: black;
    padding: 0.688rem;
    box-shadow: 0px 1px 5px  #D2CDCD;

}

.main-features-container .more-features a:hover{
    background-color:#EDF4FF ;
    cursor: pointer;
}


.main-features-container .more-features img{
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.688rem;
}


/*  Trainsform Knowledge Section  */

.transform-knowledge-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 43.188rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.transform-knowledge-container::after{
   content: '';
   position: absolute;
   bottom: 0; 
   left: 50%;  
   transform: translateX(-50%); 
   width: 75rem; 
   height: 0.125rem; 
   background-color: #E4E4E4; 
}

.tk-content{
    width: 37.063rem;
    height: 36rem;
    margin-left: 7.5rem;
    margin-right: 0.875rem;
}

.tk-content .tk-title{
    width: 15.563rem;
    height: 2.625rem;
    background-color: #EDF4FF;
    color: #023ECE;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: -0.02%;
    text-align: center;
    padding-top: 0.688rem;
    margin-bottom: 1.875rem;
}

.tk-content .tk-2nd-title{
    width: 35rem;
    height: 8.125rem;
    color: #0B0D1E;
    font-weight: 600;
    font-size: 3.125rem;
    margin-bottom: 1.5rem;
}
.tk-content .tk-desc{
    width: 34.188rem;
    height: 8.125rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: #343434;
    margin-bottom: 2.5rem;
}

.transform-knowledge-container .knowledges{
    height: 11.226rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7.125rem;
}

.knowledges .knowledge{
    width: 17.438rem;
    height: 4.063rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.125rem;
}

.knowledge .knowledge-info h4, .knowledge .knowledge-info h5{
    width: 12.125rem;
    height: 1.625rem;
    font-weight: 400;
    font-size: 1.25rem;
}
.knowledge .knowledge-info h4{
    color: #0B0D1E;
}
.knowledge .knowledge-info h5{
    color: rgba(11, 13, 30, 0.6);
}

.knowledges .knowledge img{
    margin-right: 1.375rem;
    width:4.038rem;
    height: 4.038rem;
    padding: 1.211rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2.019rem;
}

.transform-knowledge-container .tk-img img{
    margin-top: 1.75rem;
    width: 34.964rem;
    height: 34.5rem;
}

/*   Tracking Records and perfromance Section   */

.tracking-perfromance-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 41.278rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 5.938rem;
}

.tracking-perfromance-container .trp-img img{
    width: 41.285rem;
    height: 41.285rem;
    margin-right: 7.188rem;
    margin-top: 3.063rem;
    margin-left: 1rem;
}

.tracking-perfromance-container .trp-content{
    width: 33.563rem;
    height: 38.5rem;
    margin-top: 5.609rem;
}

.trp-content .trp-title{
    width: 21.688rem;
    height: 2.625rem;
    background-color: #EDF4FF;
    color: #023ECE;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: -0.02%;
    text-align: center;
    padding-top: 0.688rem;
    margin-bottom: 2rem;
}

.trp-content .trp-2nd-title{
    width: 32.563rem;
    height: 8.125rem;
    color: #0B0D1E;
    font-weight: 600;
    font-size: 3.125rem;
    margin-bottom: 1.5rem;
}

.trp-content .trp-desc{
    width: 30.125rem;
    height: 8.125rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: rgba(11, 13, 30, 0.7);
    margin-bottom: 2.5rem;
}

.trp-content .records-container{
    width: 33.563rem;
    height: 13.563rem;
    display: flex;
    flex-direction: column;
}

.records-container .record-one, .record-two, .record-three{
    height: 3.563rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.438rem;
}
.records-container .record-one h1, .record-one p,
.record-two h1, .record-two p,
.record-thee h1, .record-three p
 {
    height: 3.25rem;
}

.records-container .record-one h1, .record-two h1,
.record-three h1{
    font-weight: 500;
    font-size: 2.5rem;
    margin-right: 1.313rem;
}

.records-container .record-one p,  .record-two p,
 .record-three p{
    width: 20.5rem;
    margin-left: 0.938rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: #545662;
}

.records-container .record-one span,  .record-two span,
 .record-three span{
    margin: 0px;
    font-size:3.063rem ;
    color: rgba(20, 18, 25, 0.2);
}










